<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmtechworks.polygam101" >

    <permission android:name="android.permission.RECORD_AUDIO"></permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="recyclerview.RecyclerViewActivity"
            android:label="RecyclerView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="recyclerview.basiclist.BasicListActivity"></activity>
        <activity android:name="recyclerview.foldablelist.FoldableListActivity"></activity>
        <activity android:name="recyclerview.sectionlist.SectionListActivity"></activity>
        <activity android:name="recyclerview.HScrollActivity"></activity>
        <activity android:name="model.CreateProductActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="startup.CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="startup.LoginAccountActivity"
            android:label="@string/title_activity_login_account" >
        </activity>
        <activity
            android:name=".SyncItemsActivity"
            android:label="@string/title_activity_sync_items">
        </activity>
        <activity
            android:name="util.SysDatabaseList"
            android:label="@string/title_activity_sys_dblist">
        </activity>
        <activity
            android:name="util.MyBusinessList"
            android:theme="@android:style/Theme.Dialog"
            android:label="BUSINESS LIST">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
